doctype
html
  head
    title Starter Kit
  body
    noscript You need JavaScript to view this page.
    div#root
    if !dev
      script!='var initialData=' + JSON.stringify(initialData)
      script(src=`${bundleSrc}`)
